html{
    font-size: 20px;
}

div{
    background-color: rgb(54, 54, 54); color: white; text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid white;
}

header{
    background-color: rgb(83, 83, 83); color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 2px solid white;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

.version-mobile {
    display: none;
}

body{
    background-color: rgb(111, 96, 121);
    font-family:'Courier New', Courier, monospace ;
}

.titulo-perfil {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

#titulo-perfil {
    text-align: center;
    font-size: 100px;
}

main{
    background-color: rgb(111, 96, 121); color: white
}

.section-principal{
    font-size: 80px;
}
 
h2{
    text-align: center;
    font-size: 2em;
}

/*SECCION CONTACTO*/

.contenido-contacto {
    display: flex;
}

.redes-sociales {
    text-align: center;
}

#linkedin-redsocial {
    width: 50px;
}

#whats-redsocial {
    width: 45px;
}

#insta-redsocial {
    width: 40px;
}

/*FIN SECCION CONTACTO*/

footer {
    background-color: rgb(54, 54, 54);
    color: white;
    text-align: center;
    border-top: 2px solid white;
}

#linkedin-logo {
    width: 50px;
}

#whats-logo {
    width: 45px;
}

#insta-logo {
    width: 40px;
}


a {
    color: white;
}

/* MEDIA QUERY MOBILE*/

@media (min-width: 100px) and (max-width: 1000px) {

    .version-desktop {
        display: none;
    }
}