footer {
    background-color: rgb(54, 54, 54);
    color: white;
    text-align: center;
    border-top: 2px solid white;
    #linkedin-logo {
        width: 50px;
    }    
    #whats-logo {
        width: 45px;
    }    
    #insta-logo {
        width: 40px;
    }
    a {
        color: white;
    }
}

